<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
          <h4>Habilidades extras </h4>
       </div>
         <div class="contentButton">
            <% if see_edit?(@professional_profile.user) %>
                <%= button_to "Adicionar novas habilidades", new_user_professional_profile_extra_skill_path(@professional_profile.user,@professional_profile), :class => "btn btn-default", :method => :get %>
            <% end %>
        </div>
    </div>
    <div class="row">
      <ul class='col-sm-12 info-group'>
      <ul class="disok col-lg-24">
        <% if @professional_profile.informations.empty? %>
            <div class="alert alert-info" role="alert">Nenhum registro encontrado</div>
        <% else %>
            <div class="alert alert-info" role="alert" hidden>Nenhum registro encontrado</div>
        <%end%>
      <ul class='col-sm-12 info-group'>
        <% informations( @professional_profile.informations, ExtraSkill.name ).each do |extra_skill| %>
        <li class='list-group-item'>
          <div class="row">
            <div class='col-sm-8'>
              <label>Name: </label> <%= extra_skill.name %><p>
              <label>Nível: </label> <%= skill_level(extra_skill.level) %>
            </div>
            <div class='col-sm-4'>
              <%= link_to "Editar",  edit_user_professional_profile_extra_skill_path(@professional_profile.user,@professional_profile,extra_skill), :class => "btn btn-default", :method => :get %>
              <%= link_to "Excluir",  user_professional_profile_extra_skill_path(@professional_profile.user,@professional_profile,extra_skill), :class => "btn btn-default", :method => :delete, data:{ confirm: "Certeza?"} %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    
</div>
