<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
          <h4><b>Lista de informações acadêmicas</b></h4>
        </div>
    </div>
    <div class="row">
      <ul class='col-sm-12 info-group'>
      <ul class="disok col-lg-24">
      <br>
      <% if @academic_informations.present? %>
        <div class="alert alert-info" role="alert" hidden>Não exite usuário com estes parametros: '<%= params[:search] %>'. Tente outro!</div>

      <div class="panel panel-default">
          <table class="table">
          <thead>
            <tr>
            <th>Usuário</th>
            <th>Matrícula</th>
            <th>Semestre de entrada</th>
            <th>Semestre atual</th>
            </tr>
          </thead>
          <tbody>
          <% @academic_informations.each do |academic_information| %>
            <tr>
              <td><%= link_to( academic_information.user.email, user_path(academic_information.user.id)) %></td>
              <td><%= academic_information.registration %></td>
              <td><%= academic_information.admission_year %></td>
              <td><%= academic_information.current_semester %></td>
            
              <td><%= link_to 'Mostrar',user_academic_information_path(academic_information.user,academic_information) %></td>
              <td><%= link_to 'Editar',  edit_user_academic_information_path(academic_information.user,academic_information) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
</div>    
  
<% else %>
  <br>
  <div class="alert alert-info" role="alert">Não exite usuário com estes parametros: ' <%= params[:search] %> '. Tente outro!</div>
<% end %>
