<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
          <h4>Projetos externos </h4>
        </div>
         <div class="contentButton">
            <% if see_edit?(@professional_profile.user) %>
                <%= button_to "Adicionar novos projetos externos", new_user_professional_profile_external_project_path(@professional_profile.user,@professional_profile), :class => "btn btn-default", :method => :get %>
            <% end %>
        </div>
    </div>
    <div class="row">
      <ul class='col-sm-12 info-group'>
      <ul class="disok col-lg-24">
        <% if @professional_profile.informations.empty? %>
            <div class="alert alert-info" role="alert">Nenhum registro encontrado</div>
        <% else %>
            <div class="alert alert-info" role="alert" hidden>Nenhum registro encontrado</div>
        <%end%>
        <% informations( @professional_profile.informations, ExternalProject.name ).each do |external_project| %>
        <li class='list-group-item'>
          <div class="row">
            <div class='col-sm-8'>
              <label>Nome: </label> <%= external_project.name %> <p>
              <label>Local: </label> <%= external_project.location %>
            </div>
            <div class='col-sm-4'>
              <%= link_to "Editar",  edit_user_professional_profile_external_project_path(@professional_profile.user,@professional_profile,external_project), :class => "btn btn-default", :method => :get %>
              <%= link_to "Excluir",  user_professional_profile_external_project_path(@professional_profile.user,@professional_profile,external_project), :class => "btn btn-default", :method => :delete, data:{ confirm: "Tem certeza que deseja excluir?"} %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    
    </div>
    
</div>
