<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
          <h4>Estágios </h4>
       </div>
         <div class="contentButton">
            <% if see_edit?(@professional_profile.user) %>
                <%= button_to "Adicionar novos estágios", new_user_professional_profile_internship_path(@professional_profile.user,@professional_profile), :class => "btn btn-default", :method => :get %>
            <% end %>
        </div>
    </div>
    <div class="row">
      <ul class='col-sm-12 info-group'>
      <ul class="disok col-lg-24">
        <% if @professional_profile.informations.empty? %>
            <div class="alert alert-info" role="alert">Nenhum registro encontrado</div>
        <% else %>
            <div class="alert alert-info" role="alert" hidden>Nenhum registro encontrado</div>
        <%end%>
      </ul>
        <% informations( @professional_profile.informations, Internship.name ).each do |internship| %>
        <li class='list-group-item'>
          <div class="row">
            <div class='col-sm-8'>
              <label>Nome: </label> <%= internship.name %> por <%= internship.duration %> <%= "hora".pluralize(internship.duration) %> <p>
              <label>Company: </label> <%= internship.company %>
            </div>
            <div class='col-sm-4'>
              <%= link_to "Editar",  edit_user_professional_profile_internship_path(@professional_profile.user,@professional_profile,internship), :class => "btn btn-default", :method => :get %>
              <%= link_to "Excluir",  user_professional_profile_internship_path(@professional_profile.user,@professional_profile,internship), :class => "btn btn-default", :method => :delete, data:{ confirm: "Tem certeza que deseja excluir?"} %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    
</div>
